html {
  overflow-y: scroll;
  overflow-x: hidden;
}


body{
  padding:0;
  margin:0;
  background-color:#abb7c8;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.clearfix{
    clear:both;
}

*:focus {
    outline: none;
}

* {
  font-family: 'Quicksand', sans-serif;
}

.hover_transparent{
  transition: 0.5s;
}

.hover_transparent:hover{
  background-color: #dadadb;
}


#background_tint{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  opacity: 0.8;
  display: none;
}

#loader {
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid #5c7598;
  width: 125px;
  height: 125px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: calc(50% - 157px/2);
  left: calc(50% - 157px/2);
  z-index: 3;
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loading_text{
  color: white;
  font-size: 24px;
  margin-top: calc(37.5% + 107px/2);
}

/***************************LOADING.HTMl***********************/

/***************************PROFILE.HTMl***********************/

#menu{
  margin-top: 15%;
  width: 5%;
  height: 70%;
  position: fixed;
  background-color:#5c7598;
  border-radius: 0px 5px 5px 0px;
  transition: 0.5s;
}

.menu_icon{
  cursor: pointer;
  width: 80%;
  margin-left: 10%;
  height: 7.14%;
  float: left;
  margin-top: 55px;
}

.menu_icon:hover{
  opacity: 0.7;
}

#reset_button{
  position: fixed;
  margin-top: 73.5%;
  margin-left: 1%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#report_bug_button{
  position: fixed;
  margin-top: 73.5%;
  margin-left: calc(98% - 30px);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#reset_button:hover, #report_bug_button:hover{
  opacity: 0.5;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content, .liabilities_modal-content {
    background-color: #abb7c8;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 2px;
    width: 70%; /* Could be more or less, depending on screen size */
    height: 60%;
    position: fixed;
    margin-left: calc(15% - 20px);
}

#delete_modal_text, #bug_report_text{
  font-size: 18px;
  color:#5c7598;
  margin-top: 10%;
  text-align: center;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.delete_modal_content {
    background-color: #abb7c8;
    margin: 30% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 2px;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 27.5%;
    position: fixed;
    margin-left: calc(25% - 20px);
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 32px;
    font-weight: bold;
    margin-right: 10px;
}

.close:hover,
.close:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

#signup_button_text, #submit_bug_text{
  font-size: 18px;
  color: white;
}

#confirm_delete_button_no, #confirm_delete_button_yes, #submit_bug_report{
  width: 15%;
  height: 35px;
  border: none;
  background-color:#5c7598;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 5%;
  display: none;
  font-size: 18px;
}

#confirm_delete_button_no, #confirm_delete_button_yes{
  margin-top: 10%;
  width: 25%;
  float: left;
}

#confirm_delete_button_yes{
  margin-left: 10%;
}

#confirm_delete_button_no{
  margin-left: 20%;
}

.hover_opacity:hover{
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
}

#settings_background{
  width: 80%;
  margin: 20px 0px 0px 10%;
  height: 600px;
  background-color:#dadadb;
  border-radius: 2px;
  overflow-x: scroll;
}

#settings_title{
  float: left;
  font-size: 28px;
  color: #5c7598;
  margin: 40px 0px 0px 7.5%;
}

#settings_label{
  float: left;
  font-size: 22px;
  color: #5c7598;
  margin: 0px 0px 0px 7.5%;
}

.settings_input{
  width: 78%;
  height: 50px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px 0px 0px 2px;
  font-size: 18px;
  color: white;
  background-color:#abb7c8;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 3;
  margin-top: 4%;
  margin-left: 7.5%;
  float: left;
}

.reauthenticate_input{
  width: 85%;
  height: 50px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px 0px 0px 2px;
  font-size: 18px;
  color: #5c7598;
  background-color:#dadadb;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 3;
  margin-top: 4%;
  margin-left: 7.5%;
  float: left;
  margin-bottom: 4%;
}

.reauthenticate_input::-webkit-input-placeholder{
  color: #5c7598;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}

.settings_update_button{
  float: left;
  border-radius: 0px 2px 2px 0px;
  background-color:#5c7598;
  width: 3%;
  height: 25px;
  margin-top: 4%;
  padding: 12.5px 2% 12.5px 2%;
  cursor: pointer;
  transition: 0.5s;
}

.settings_update_button:hover{
  opacity: 0.7;
}

.confirm_password_hide{
  display: none;
}

#password_input{
  width: 85%;
}

#profile_signout{
  color: white;
  float: right;
  margin-right: 10%;
  font-size: 18px;
  margin-top: 8%;
  margin-bottom: 20px;
  cursor: pointer;
}

.confirm_password_modal_content {
  background-color: #abb7c8;
  margin: 30% auto; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 2px;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 27.5%;
  position: fixed;
  margin-left: calc(25% - 20px);
}

#confirm_password_modal_text{
  font-size: 18px;
  color:#5c7598;
  margin-top: 10%;
  text-align: center;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

#reauthenticate_button{
  width: 15%;
  height: 35px;
  border: none;
  background-color:#5c7598;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 2%;
  display: none;
  font-size: 18px;
}
