html {
  overflow-y: scroll;
  overflow-x: hidden;
}


body{
  padding:0;
  margin:0;
  background-color: grey;
}

* {
  font-family: 'Quicksand', sans-serif;
}

.clearfix{
    clear:both;
}

.signup_input{
  width: 35%;
  height: 50px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  color: #5c7598;
  background-color: #dadadb;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 1;
  margin-top: 2%;
  margin-left: 10%;
  float: left;
}

#signup_first_name{
  margin-top: 15%;
}

#signup_button{
  width: 15%;
  height: 35px;
  border: none;
  background-color: #5c7598;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 20%;
  margin-top: 4%;
  float: left;
}

#signup_button:hover{
  opacity: 0.7;
}

#signup_vertical_line{
  width: 2px;
  height: 575px;
  float: right;
  margin-right: 50%;
  background-color: #5c7598;
  margin-top: 10%;
}

#signup_member_text{
  color: white;
  margin-left: 10%;
  float: left;
  margin-top: 25px;
}

#signup_slogan_title{
  color: #5c7598;
  font-size: 64px;
  float: right;
  margin-right: 10%;
  width: 35%;
  margin-top: -500px;
}

