html {
  overflow-y: scroll;
  overflow-x: hidden;
}


body{
  padding:0;
  margin:0;
  background-color:#abb7c8;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.clearfix{
    clear:both;
}

*:focus {
    outline: none;
}

* {
  font-family: 'Quicksand', sans-serif;
}
/***************************SIGNUP.HTMl************************/

#signup_body{
  background-color:#abb7c8;
}

#login_username, #login_password{
  width: 35%;
  height: 50px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  color: #5c7598;
  background-color: #dadadb;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 1;
  margin-top: 10px;
}

#login_username{
  margin-top: calc(37.5% - 80px) ;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: white;
}

#login_button{
  width: 15%;
  height: 35px;
  border: none;
  background-color:#5c7598;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 10px;
}

#login_button:hover{
  opacity: 0.7;
}

#signup_button_text, #submit_bug_text, #submit_edit_text{
  font-size: 18px;
  color: white;
}

#login_member_text{
  margin-top: 10px;
  color: white;
}

#login_fail{
  margin-top: 10px;
  color: red;
  display: none;
  font-size: 18px;
}

/***************************SIGNUP.HTMl************************/

/***************************LOADING.HTMl***********************/

.hover_transparent{
  transition: 0.5s;
}

.hover_transparent:hover{
  background-color: #dadadb;
}

#background_tint{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  opacity: 0.8;
  display: none;
}

#loader {
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid #5c7598;
  width: 125px;
  height: 125px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: calc(50% - 157px/2);
  left: calc(50% - 157px/2);
  z-index: 3;
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loading_text{
  color: white;
  font-size: 24px;
  margin-top: calc(37.5% + 107px/2);
}

/***************************LOADING.HTMl***********************/

/***************************PROFILE.HTMl***********************/

#menu{
  margin-top: 15%;
  width: 5%;
  height: 70%;
  position: fixed;
  background-color:#5c7598;
  border-radius: 0px 5px 5px 0px;
  transition: 0.5s;
}

.menu_icon{
  cursor: pointer;
  width: 80%;
  margin-left: 10%;
  height: 7.14%;
  float: left;
  margin-top: 55px;
}

.menu_icon:hover{
  opacity: 0.7;
}

#reset_button{
  position: fixed;
  margin-top: 73.5%;
  margin-left: 1%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#report_bug_button{
  position: fixed;
  margin-top: 73.5%;
  margin-left: calc(98% - 30px);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#reset_button:hover, #report_bug_button:hover{
  opacity: 0.5;
}

#profile_worth_text{
  font-size: 24px;
  float: left;
  margin-top: 5%;
}

#profile_worth_text{
  color:#5c7598;
  float: right;
  margin-right: 10%;
}

#profile_name{
  color: white;
  float: left;
  margin-left: 10%;
  font-size: 24px;
  margin-top: 10px;
}

#profile_signout{
  color: white;
  float: right;
  margin-right: 10%;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}

#profile_quick_glance{
  width: 55%;
  height: 190px;
  background-color:#dadadb;
  margin-left: 8%;
  float: left;
  border-radius: 0px 0px 2px 2px;
  overflow-x: scroll;
}

#quick_glance_renew{
  width: 30px;
  height: 30px;
  margin-top: 7.5px;
  float: right;
  margin-right: 10px;
  transition: 0.5s;
  cursor: pointer;
}

#quick_glance_add{
  width: 20px;
  height: 20px;
  margin-top: 12.5px;
  cursor: pointer;
  margin-bottom: 25px;
  float: left;
  margin-left: 10px;
}

#quick_glance_renew:hover{
  opacity: 0.5;
}

#profile_quick_glance_info{
  margin-top: 10px;
  float: right;
  margin-right: 5%;
}

#profile_quick_glance_top{
  height: 45px;
  width: 55%;
  margin-top: 25px;
  margin-left: 8%;
  background-color:#5c7598;
  border-radius: 2px 2px 0px 0px;
  float: left;
}

#profile_quick_glance_box{
  float: right;
  height: 190px;
  width: 25%;
  margin-right: 8%;
  background-color: #dadadb;
  border-radius: 0px 0px 2px 2px;
}

#profile_box_top{
  float: right;
  height: 45px;
  width: 25%;
  margin-right: 8%;
  margin-top: 25px;
  background-color:#5c7598;
  border-radius: 2px 2px 0px 0px;
}

#profile_box_top_text{
  color: white;
  font-size: 24px;
  margin-top: 8px;
  margin-left: 8%;
}

#profile_quick_glance_title{
  font-size: 24px;
  color: white;
  margin-left: 5%;
  float: left;
  margin-top: 8px;
}

#profile_quick_glance_text, #profile_quick_glance_text_net_worth, #profile_quick_glance_text_earning_power{
  margin-top: 15px;
  color: #5c7598;
}

#profile_quick_glance_text{
  margin-left: 4%;
  font-size: 18px;
}

#profile_quick_glance_text_net_worth, #profile_quick_glance_text_earning_power, #profile_quick_glance_text_news{
  text-align: center;
  font-size: 24px;
}

.button{
  width: 25px;
  height: 25px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 25px;
}

.display_none{
  display: none;
}

#profile_edit_assets_button:hover, #profile_edit_liabilities_button:hover{
  opacity: 0.5;
  transition: 0.5s;
}

#profile_add_assets_button, #profile_add_liabilities_button{
  float: right;
  margin-right: 10%;
}

#profile_remove_assets_button, #profile_remove_liabilities_button{
  float: right;
  margin-right: 5%;
}

#profile_edit_assets_button, #profile_edit_liabilities_button{
  float: right;
  margin-right: 5%;
}

#profile_assets_text{
  color: white;
  font-size: 22px;
  margin-top: 50px;
  margin-left: 2%;
}

#profile_assets_box, #profile_liabilities_box{
  width: 40%;
  height: 300px;
  border-radius: 0px 0px 2px 2px;
  overflow-y: scroll;
  background-color: #dadadb;
  margin-bottom: 50px;
}

#profile_assets_box{
  float: left;
  margin-left: 8%;
}

#profile_liabilities_box{
  float: right;
  margin-right: 8%;
}

#profile_assets_box_top{
  background-color: #5c7598;
  width: 40%;
  height: 45px;
  border-radius: 2px 2px 0px 0px;
  margin-left: 8%;
  float: left;
  margin-top: 25px;
}

#profile_liabilities_box_top{
  background-color:#5c7598;
  width: 40%;
  height: 45px;
  border-radius: 2px 2px 0px 0px;
  margin-right: 8%;
  float: right;
  margin-top: 25px;
}

#profile_assets_title, #profile_liabilities_title{
  color: white;
  font-size: 22px;
  margin-top: 10px;
  float: left;
  margin-left: 10%;
  margin-right: 15%;

}

#profile_assets_placeholder, #profile_liabilities_placeholder, #profile_news_placeholder{
  color: white;
  font-size: 24px;
  margin-left: 5%;
  margin-top: 3%;
}

.profile_asset_bullet, .profile_liabilities_bullet{
  width: 80%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  color: white;
  background-color: #abb7c8;
  padding: 12px 12px 12px 12px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 1;
  margin-left: calc(10% - 12px);
  overflow-x: scroll;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 2px 2px grey;
}

.grow_profile_asset_bullets, .grow_profile_liabilities_bullets{
  width: 85%;
  height: 55px;
  margin-top: 17.5px;
  margin-bottom: 12.5px;
  box-sizing: border-box;
  border: 2px solid #5c7598;
  border-radius: 2px;
  font-size: 20px;
  color: white;
  background-color: #abb7c8;
  padding: 12px 12px 12px 12px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 1;
  margin-left: calc(15%/2 - 12px);
  overflow: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.profile_news_bullet
{
  width: 110px;
  height: 150px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  color: white;
  background-color: #abb7c8;
  padding: 12px 12px 12px 12px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 1;
  margin-left: 10px;
  float: left;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 2px grey;
  overflow: none;
}

.grow_stock_card{
  width: 110px;
  height: 150px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 20px;
  color: white;
  background-color: #abb7c8;
  padding: 12px 12px 12px 12px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 1;
  margin-left: 10px;
  float: left;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 2px solid #5c7598;
  overflow: none;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content, .liabilities_modal-content {
    background-color: #abb7c8;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 2px;
    width: 70%; /* Could be more or less, depending on screen size */
    height: 60%;
    position: fixed;
    margin-left: calc(15% - 20px);
}

#delete_modal_text, #bug_report_text{
  font-size: 18px;
  color:#5c7598;
  margin-top: 10%;
  text-align: center;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.delete_modal_content {
    background-color: #abb7c8;
    margin: 30% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 2px;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 27.5%;
    position: fixed;
    margin-left: calc(25% - 20px);
}

.edit_asset_modal, .edit_liability_modal{
    background-color: #abb7c8;
    margin: 30% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 2px;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 27.5%;
    position: fixed;
    margin-left: calc(25% - 20px);
}

.report_bug_modal {
    background-color: #abb7c8;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 2px;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 70%;
    position: fixed;
    margin-left: calc(25% - 20px);
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 32px;
    font-weight: bold;
    margin-right: 10px;
}

.close:hover,
.close:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

#modal_logo, #liabilities_modal_logo{
  float: left;
  width: 20%;
  margin-left: 10%;
  margin-top: 9%;
}

#modal_img, #modal_img_other{
  width: calc(40% - 6px);
  background-color:#5c7598;
  border-radius: 2px;
  padding: 3px;
}

.hover_opacity:hover{
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
}

#modal_logo_text{
  color: white;
  font-size: 18px;
}

#assets_modal_back, #liabilities_modal_back{
  cursor: pointer;
  display: none;
  float: left;
}

.stock_card_hover:hover{
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}

.modal_input
{
  width: 60%;
  height: 50px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  color: #5c7598;
  background-color:  #dadadb;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 3;
  display: none;
  margin-top: 5%;
  margin-left: 20%;
}

#loans_liability_name,
#loans_liability_worth, #loans_liability_interest{
  width: 38%;
  height: 50px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  color: #5c7598;
  background-color:  #dadadb;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 3;
  display: none;
  margin-top: 5%;
  margin-left: 8%;
  float: left;
}

#edit_asset_name, #edit_liability_name{
  width: 70%;
  height: 50px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  color: #5c7598;
  background-color: #dadadb;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 3;
  display: none;
  margin-top: 15%;
  margin-left: 15%;
}

#report_bug_title{
  width: 85%;
  height: 50px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  color: #5c7598;
  background-color:  #dadadb;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 3;
  display: none;
  margin-top: 5%;
  margin-left: 7.5%;
}

#report_bug_summary{
  width: 85%;
  height: 250px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  color: #5c7598;
  background-color:  #dadadb;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 3;
  display: none;
  margin-top: 5%;
  margin-left: 7.5%;
}

#asset_zip{
  width: 16.5%;
  height: 50px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  color: #5c7598;
  background-color:  #dadadb;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 3;
  display: none;
  margin-top: 5%;
  margin-left: 3%;
  float: left;
}

#asset_city{
  width: 22.5%;
  height: 50px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  color: #5c7598;
  background-color:  #dadadb;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 3;
  display: none;
  margin-top: 5%;
  margin-left: 20%;
  float: left;
}

.salary_input, .property_input, .rent_input, .others_input{
  display: none;
}

#salary_dropdown, #rent_dropdown,
#others_dropdown, #taxes_dropdown,
#bill_dropdown, #rent_dropdown,
#liability_others_dropdown
{
  width: 60%;
  border: none;
  height: 50px;
  font-size: 16px;
  margin-left: 20%;
  margin-top: 5%;
  background-color:  #dadadb;
  color: #5c7598;
  padding: 12px 20px 12px 40px;
  text-align-last:center;
  font-family: 18px;
}

#loans_dropdown{
  width: 38%;
  border: none;
  height: 50px;
  font-size: 16px;
  margin-left: 8%;
  margin-top: 5%;
  background-color:  #dadadb;
  color: #5c7598;
  padding: 12px 20px 12px 40px;
  text-align-last:center;
  font-family: 18px;
  float: left;
}

#asset_state_dropdown{
  width: 15%;
  border: none;
  height: 50px;
  font-size: 18px;
  margin-left: 3%;
  margin-top: 5%;
  background-color:  #dadadb;
  color: #5c7598;
  padding: 12px 20px 12px 40px;
  text-align-last:center;
  float: left;
}

#save_other_button{
  width: 15%;
  height: 35px;
  border: none;
  background-color:#5c7598;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 5%;
  display: none;
  font-size: 18px;
}

#save_loans_button{
  float: left;
  width: 15%;
  height: 35px;
  border: none;
  background-color:#5c7598;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 5%;
  display: none;
  font-size: 18px;
  margin-left: calc(85% / 2);
}

#save_salary_button, #save_rent_button, #confirm_delete_button_no, #confirm_delete_button_yes, #submit_bug_report, #save_bill_button{
  width: 15%;
  height: 35px;
  border: none;
  background-color:#5c7598;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 5%;
  display: none;
  font-size: 18px;
}

#confirm_delete_button_no, #confirm_delete_button_yes{
  margin-top: 10%;
  width: 25%;
  float: left;
}

#confirm_delete_button_yes{
  margin-left: 10%;
}

#confirm_delete_button_no{
  margin-left: 20%;
}

#save_property_button{
  width: 15%;
  height: 35px;
  border: none;
  background-color:#5c7598;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 20%;
  display: none;
  font-size: 18px;
}

#asset_input_title{
  color: #5c7598;
  font-size: 18px;
  width: 70%;
}

#liability_debt_title{
  color: #5c7598;
  font-size: 18px;
  width: 70%;
}

#asset_property_input_title, #asset_stock_input_title{
  color: #5c7598;
  font-size: 18px;
  width: 70%;
  margin-top: -30px;
}

#asset_others_input_title{
  color: #5c7598;
  font-size: 18px;
  width: 70%;
  margin-top: -15px;
}

 #liabilities_others_input_title{
   color: #5c7598;
   font-size: 18px;
   width: 70%;
   margin-top: 25px;
 }

#liabilities_tax_input_title, #liabilities_rent_input_title{
  color: #5c7598;
  font-size: 18px;
  width: 70%;
  margin-top: 25px;
}

#liabilities_loans_input_title{
  color: #5c7598;
  font-size: 18px;
  width: 70%;
  margin-top: 65px;
}

#property_info{
  float: right;
  margin-right: 10%;
  margin-top: -40px;
}

#stock_info, #rent_info, #loans_info{
  float: right;
  margin-right: 10%;
  margin-top: -40px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip_text {
  visibility: hidden;
  width: 250px;
  background-color: #abb7c8;
  border: 2px solid white;
  color: #5c7598;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  top: 30px;
  right: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltip_text {
    visibility: visible;
}

/***************************PROFILE.HTMl***********************/

#footer{
  background-color: #D3D3D3;
  margin-top: 75px;
  width: 100%;
  float: left;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #5c7598;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input.formInvalid::-webkit-input-placeholder {
   color: red;
}

input.formValid::-webkit-input-placeholder {
  color: #5c7598;
}
