html {
  overflow-y: scroll;
  overflow-x: hidden;
}


body{
  padding:0;
  margin:0;
  /*background-color: #b9d793;*/
  background-color:#abb7c8;
}

.clearfix{
    clear:both;
}

*:focus {
    outline: none;
}

/***************************SIGNUP.HTMl************************/

#signup_body{
  background-color:#abb7c8;
}

#login_username, #login_password{
  width: 35%;
  height: 50px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  color: #5c7598;
  background-color: #dadadb;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 1;
  margin-top: 10px;
}

#login_username{
  margin-top: calc(37.5% - 80px) ;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}

#login_button{
  width: 15%;
  height: 35px;
  border: none;
  background-color:#5c7598;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 10px;
}

#login_button:hover{
  opacity: 0.7;
}

#signup_button_text{
  font-size: 16px;
  color: white;
}

#login_member_text{
  margin-top: 10px;
  font-family: 'Economica', sans-serif;  
  color: white;
}

/***************************SIGNUP.HTMl************************/

/***************************LOADING.HTMl***********************/

.loader {
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid #85bb65;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: calc(37.5% - 107px/2);
  left: calc(50% - 132px/2);
  z-index: 3;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loading_text{
  font-family: 'Economica', sans-serif;
  color: white;
  font-size: 24px;
  margin-top: calc(37.5% + 107px/2);
}

/***************************LOADING.HTMl***********************/

/***************************PROFILE.HTMl***********************/

#menu{
  margin-top: 15%;
  width: 5%;
  height: 70%;
  position: fixed;
  background-color:#5c7598; /*#D3D3D3;*/
  border-radius: 0px 5px 5px 0px;
}

#menu_icon{
  width: 80%;
  margin-left: 10%;
  height: 7.14%;
  float: left;
  margin-top: 55px ;
}

#profile_worth_text{
  font-family: 'Economica', sans-serif;
  font-size: 22px;
  float: left;
  margin-top: 5%;
}

#profile_worth_text{
  color:#5c7598;
  float: right;
  margin-right: 10%;
}

#profile_name{
  color: white;
  float: left;
  margin-left: 10%;
  font-family: 'Economica', sans-serif;
  font-size: 22px;
  margin-top: 10px;
}

#profile_signout{
  color: white;
  float: right;
  margin-right: 10%;
  font-family: 'Economica', sans-serif;
  font-size: 16px;
  margin-top: 10px;  
  cursor: pointer;
}

#profile_quick_glance{
  width: 55%;
  height: 190px;
  background-color:#dadadb;
  margin-left: 8%;
  float: left;
  border-radius: 0px 0px 2px 2px;
}

#profile_quick_glance_top{
  height: 45px;
  width: 55%;
  margin-top: 25px;
  margin-left: 8%;
  background-color:#5c7598;
  border-radius: 2px 2px 0px 0px;
  float: left;
}

#profile_quick_glance_profile{
  float: right;
  height: 190px;
  width: 25%;
  margin-right: 8%;
  background-color: #dadadb;
  border-radius: 0px 0px 2px 2px;
}

#profile_box_top{
  float: right;
  height: 45px;
  width: 25%;
  margin-right: 8%;
  margin-top: 25px;
  /*background-color: #8dce1f;*/
  background-color:#5c7598;
  border-radius: 2px 2px 0px 0px;
}

#profile_box_top_text{
  font-family: 'Economica', sans-serif;
  color: white;
  font-size: 20px;
  margin-top: 12.5px;
  margin-left: 8%;
}

#profile_quick_glance_title{
  font-size: 20px;
  font-family: 'Economica', sans-serif;
  color: white;
  margin-left: 5%;
  float: left;
  margin-top: 12.5px;
}

#profile_quick_glance_text{
  margin-left: 3%;
  margin-top: 25px;
  font-size: 16px;
  font-family: 'Economica', sans-serif;
  color: white;
}

#profile_add_assets_button, #profile_add_liabilities_button, 
#profile_save_assets_button,#profile_save_liabilities_button, 
#profile_remove_assets_button, #profile_remove_liabilities_button{
  width: 25px;
  height: 25px;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 25px;
}

#profile_add_assets_button:hover, #profile_add_liabilities_button:hover, 
#profile_save_assets_button:hover,#profile_save_liabilities_button:hover, 
#profile_remove_assets_button:hover, #profile_remove_liabilities_button:hover{
  background-color: #dadadb;
  transition: 0.5s;
}

#profile_add_assets_button, #profile_add_liabilities_button{
  float: right;
  margin-right: 10%;
}

#profile_remove_assets_button, #profile_remove_liabilities_button{
  float: right;
  margin-right: 5%;
}


#profile_assets_text{
  color: white;
  font-size: 18px;
  margin-top: 50px;
  font-family: 'Economica', sans-serif;
  margin-left: 2%;
}

#profile_assets_box, #profile_liabilities_box{
  width: 40%;
  height: 300px;
  border-radius: 0px 0px 2px 2px;
  overflow-y: scroll;
  background-color: #dadadb;
  margin-bottom: 50px;
}

#profile_assets_box{
  float: left;
  margin-left: 8%;
}

#profile_liabilities_box{
  float: right;
  margin-right: 8%;
}

#profile_assets_box_top{
  background-color: #5c7598;
  width: 40%;
  height: 45px;
  border-radius: 2px 2px 0px 0px;
  margin-left: 8%;
  float: left;
  margin-top: 25px;
}

#profile_liabilities_box_top{
  background-color:#5c7598;
  width: 40%;
  height: 45px;
  border-radius: 2px 2px 0px 0px;
  margin-right: 8%;
  float: right;
  margin-top: 25px;
}

#profile_assets_title, #profile_liabilities_title{
  color: white;
  font-family: 'Economica', sans-serif;
  font-size: 20px;
  margin-top: 12.5px;
  float: left;
  margin-left: 10%;
  margin-right: 15%;

}

#profile_assets_placeholder, #profile_liabilities_placeholder{
  color: white;
  font-family: 'Economica', sans-serif;
  font-size: 22px;
  margin-left: 5%;
  margin-top: 3%;
}

.profile_asset_bullet, .profile_liabilities_bullet{
  width: 80%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  color: white;
  background-color: #abb7c8;
  padding: 12px 12px 12px 12px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 1;
  margin-left: calc(10% - 12px);
  overflow-x: scroll;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #abb7c8;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 2px;
    width: 70%; /* Could be more or less, depending on screen size */
    height: 60%;
    position: fixed;
    margin-left: calc(15% - 20px);
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 32px;
    font-weight: bold;
    margin-right: 10px;
}

.close:hover,
.close:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

#modal_logo{
  float: left;
  width: 20%;
  margin-left: 10%;
  margin-top: 10%;
}

#modal_img, #modal_img_other{
  width: 40%;
  background-color:#5c7598;
  border-radius: 2px;
}

#modal_img:hover, #modal_img_other:hover, #save_other_button:hover{
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
}

#modal_logo_text{
  font-family: 'Economica', sans-serif;
  color: white;
  font-size: 16px;
}

#assets_modal_back{
  cursor: pointer;
  display: none;
  float: left;
}

#asset_name, #asset_worth, #other_asset_name, #other_asset_worth, #asset_address, #asset_property_name{
  width: 60%;
  height: 50px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  color: #5c7598;
  background-color:  #dadadb;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 3;
  display: none;
  margin-top: 5%;
  margin-left: 20%;
}

#asset_zip{
  width: 16.5%;
  height: 50px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  color: #5c7598;
  background-color:  #dadadb;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 3;
  display: none;
  margin-top: 5%;
  margin-left: 3%;
  float: left;
}

#asset_city{
  width: 22.5%;
  height: 50px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  color: #5c7598;
  background-color:  #dadadb;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 3;
  display: none;
  margin-top: 5%;
  margin-left: 20%;
  float: left;
}

.salary_input, .property_input{
  display: none;
}

#salary_dropdown{
  width: 60%;
  border: none;
  height: 50px;
  font-size: 16px;
  margin-left: 20%;
  margin-top: 5%;
  background-color:  #dadadb;
  color: #5c7598;
  padding: 12px 20px 12px 40px;
  text-align-last:center;
}

#asset_state_dropdown{
  width: 15%;
  border: none;
  height: 50px;
  font-size: 16px;
  margin-left: 3%;
  margin-top: 5%;
  background-color:  #dadadb;
  color: #5c7598;
  padding: 12px 20px 12px 40px;
  text-align-last:center;
  float: left;
}

#save_other_button{
  width: 15%;
  height: 35px;
  border: none;
  background-color:#5c7598;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 5%;
  display: none;
}

#save_property_button{
  width: 15%;
  height: 35px;
  border: none;
  background-color:#5c7598;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 20%;
  display: none;
}

#asset_input_title{
  color: #5c7598;
  font-size: 18px;
  font-family: 'Economica', sans-serif;
  width: 70%;
}

#asset_property_input_title{
  color: #5c7598;
  font-size: 18px;
  font-family: 'Economica', sans-serif;
  width: 70%;
  margin-top: -30px;
}

/***************************PROFILE.HTMl***********************/

#footer{
  background-color: #D3D3D3;
  margin-top: 75px;
  width: 100%;
  float: left;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #5c7598;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input.formInvalid::-webkit-input-placeholder {
   color: red;
}
